color-gold = hsl(50,48%,56%)

ul.errors
  margin-top: 10px

.transparent
  background-color color-gold

footer
  box-sizing: border-box

section
  display: flex

header
  color hsl(50,48%,56%)
  -webkit-border-radius: 5px
  border-radius: 5px
