doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title New Jade File
    script(type='text/javascript').
      console.log('hello from jade');

  body
    h1 Jade - node template engine
    p time for some hearthstone
